*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;

}

button{
    padding: 10px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    transition-duration: .5s;
}

button:hover, button:focus{
    font-style: italic;
    text-shadow: 0 0 2px black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.664);
}